{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">
          <h6>Edit Learner</h6>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="fn">First Name</label>
                <input type="text" class="form-control" id="first name" aria-describedby="firtst name"
                  placeholder="Enter First Name" required>
              </div>
            </div>
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="ln">Last Name</label>
                <input type="text" class="form-control" id="last name" aria-describedby="last name"
                  placeholder="Enter Last Name" required>
              </div>
            </div>

            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="fn">Other Name</label>
                <input type="email" class="form-control" id="other name" aria-describedby="other name"
                  placeholder="Enter Other Name">
              </div>
            </div>
            
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="ln">LIN Number</label>
                <input type="text" class="form-control" id="ln" aria-describedby="lin number"
                  placeholder="Enter Lin Number" maxlength="20">
              </div>
            </div>
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="class">Class</label>
                <input type="email" class="form-control" id="class" aria-describedby="class"
                  placeholder="Enter Class" required>
              </div>
            </div>

            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="stream">Stream</label>
                <input type="email" class="form-control" id="stream" aria-describedby="stream"
                  placeholder="Enter Stream" maxlength="1">
              </div>
            </div>
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="sex">Sex</label>
                <input type="email" class="form-control" id="ln" aria-describedby="emailHelp"
                  placeholder="Enter email">
              </div>
            </div>
            <div class="col-sm-6 mb-4">
              <div class="form-group">
                <label for="age">Age</label>
                <input type="email" class="form-control" id="age" aria-describedby="age"
                  placeholder="Enter Age" required>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="w-50 p-3">
              <img src="PP.jpg" alt="profile image"
                class="img-fluid rounded-circle">
              <!-- <img src="https://via.placeholder.com/500" alt="profile image"
                class="img-fluid rounded-circle"> -->
            </div>
            <div class="text-center">
              <h4 class="font-weight-bold h6">KAGWA PETER</h4>
              <p class="font-italic text-muted">Lorem ipsum dolor.</p>
            </div>
          </div>
          <div class="small font-weight-light mt-4 text-left text-muted">
            <table style="width: 100%;">
              <tr>
                  <td style="width: 40%;"><h6>LIN</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>U07123453452726</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>LIN NO</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>1234</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>ADM-NO</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>123400000</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>AGE</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>17</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>STREAM</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>1234</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>CLASS</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>SENIOR 4</h6></td>
              </tr>
              <tr>
                  <td style="width: 40%;"><h6>SEX</h6></td>
                  <td style="width: 10%;"><h6>:</h6></td>
                  <td style="width: 50;"><h6>FEMALE</h6></td>
              </tr>
              
            </table>
          </div>
          <!-- <div class="d-flex justify-content-center align-items-center">
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-facebook"></i></a>
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-twitter"></i></a>
            <a href="#" class="h6 text-muted d-block m-1"><i class="icon feather icon-instagram"></i></a>

          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

 {% endblock content %}